<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NGraphics" version="0.2.2" targetFramework="wp81" />
  <package id="PhoneThemeManager.Source" version="2.1.2" targetFramework="wp81" />
  <package id="TinyIoC" version="1.3" targetFramework="wp81" developmentDependency="true" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp81" />
  <package id="Xamarin.Forms" version="1.4.2.6355" targetFramework="wp81" />
  <package id="Xamarin.Forms.Maps" version="1.4.2.6355" targetFramework="wp81" />
</packages>