<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="NGraphics" version="0.4.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.0.1.6505" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms.Maps" version="2.0.1.6505" targetFramework="portable45-net45+win8+wp8" />
</packages>